#meta-data { /* "Listing Meta-Data" Button Style*/
    appearance: none !important;
    background-color: rgb(255, 255, 255) !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    color: rgb(0, 0, 0) !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-feature-settings: normal !important;
    font-kerning: auto !important;
    font-language-override: normal !important;
    font-optical-sizing: auto !important;
    font-size: 12px !important;
    font-size-adjust: none !important;
    font-stretch: 100% !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-variant-alternates: normal !important;
    font-variant-caps: normal !important;
    font-variant-east-asian: normal !important;
    font-variant-ligatures: normal !important;
    font-variant-numeric: normal !important;
    font-variant-position: normal !important;
    font-variation-settings: normal !important;
    font-weight: 600 !important;
    height: 50px !important;
    letter-spacing: normal !important;
    line-height: 20px !important;
    margin-bottom: 30px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    outline-color: rgb(0, 0, 0) !important;
    outline-style: none !important;
    outline-width: 0px !important;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    padding-bottom: 14px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 14px !important;
    text-align: center !important;
    text-decoration: rgb(0, 0, 0) !important;
    text-decoration-color: rgb(0, 0, 0) !important;
    text-decoration-line: none !important;
    text-decoration-style: solid !important;
    text-decoration-thickness: auto !important;
    text-transform: uppercase !important;
    transition-delay: 0s, 0s, 0s !important;
    transition-duration: 0.25s, 0.25s, 0.25s !important;
    transition-property: background-color, border-color, color !important;
    transition-timing-function: ease, ease, ease !important;
    width: 380px !important;
}